<a href="https://colab.research.google.com/github/Vaishnavi3322/Tweet_Search/blob/main/Tweet_Search_Download.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Tweet Search / Download**

**Install Package**

In [30]:
!pip install tweepy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tweepy in /usr/local/lib/python3.10/dist-packages (4.13.0)
Requirement already satisfied: oauthlib<4,>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from tweepy) (3.2.2)
Requirement already satisfied: requests<3,>=2.27.0 in /usr/local/lib/python3.10/dist-packages (from tweepy) (2.27.1)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from tweepy) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27.0->tweepy) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27.0->tweepy) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27.0->tweepy) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27.0->tweepy) (3.4)

**Add Credentials**

In [31]:
access_token = "501682241-ZG1DshytyxUIUY8FXPoH2AXaDG9d5DQlORemfAzU"
access_token_secret = "mxwCYkDjgWG5qWy8ONtVs3j2lxiYSxyberVVa92jmd27z"
consumer_key = "we0Drpnvc1FZNazKkiKoFWlGf"
consumer_secret = "OXRvmJwM6ca9k90XMIMoktSCa5XvjNieqJivcfjbOAlmpO6RhH"

In [32]:
import os
import tweepy as tw
import pandas as pd

In [33]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

**Look for tweets and build a dataframe**

In [34]:
# Define the search term and the date_since date as variables
search_words = "#IPL"
date_since = "2023-04-16"

In [35]:
# Collect tweets
tweets = tw.Cursor(api.search_tweets,
              q='dengue',
              lang="en",
              since=date_since).items(10)

# Iterate and print tweets
for tweet in tweets:
    print(tweet.text)

WARNING:tweepy.api:Unexpected parameter: since

One dengue patient died and 201 patients were admitted to hospitals in the country during the past 24 hours till 8:â€¦ https://t.co/RVJBWJQciZ
RT @HmpxvT: 5. Dengue fever:

With climate change, dengue fever outbreaks have become more severe and widespread in tropical areas where tâ€¦
I'd like to give a personal slap to anyone who's out there telling people "just give up, you'll get it eventually"â€¦ https://t.co/d46dzV2Slq
RT @HmpxvT: 5. Dengue fever:

With climate change, dengue fever outbreaks have become more severe and widespread in tropical areas where tâ€¦
Wow. 85% surge in Dengue since 1990 #aseandengueday Vaxx/Nets surge nobrainer? UK soon? Time4Change @Chutintorn_Samâ€¦ https://t.co/K08LvLqISz
RT @PeterHotez: Iâ€™ve been writing re my concern about arbovirus infections, dengue, Zika, others re-emerging in Texas and US Gulf Coast dueâ€¦
RT @cynthiamckinney: BILL GATES MOSQUITOES: Peru grapples with worst dengue outbreak on record
Peru, reeling from the devastating effects oâ€¦
RT @PeterHotez: Iâ€™ve been writing re my concern about arbovirus infections, dengue, Zika, others re-emerging in Texas and US Gulf Coast dueâ€¦
RT @ASEAN: On todayâ€™s ASEAN Dengue Day, letâ€™s unite to fight against dengue. Under the theme ASEANâ€™s Resilience Against Dengue Amidst COVIDâ€¦
#PER/US-"130,000 INFECTED W
   DENGUE FEVER @ LEAST 200
    DEAD.. THE WORSE IT HAS
                         SEEN!!â€¦ https://t.co/527DdZr8zI

In [36]:
# Collect tweets
results = api.search_tweets(q='dengue', count=100)

# We create a pandas dataframe as follows:
data = pd.DataFrame(data=[tweet.text for tweet in results], columns=['Tweets'])

# We display the first 10 elements of the dataframe:
display(data.head(10))

                                              Tweets
0  RT @solano_leiva: CrÃ³nicas de Salud PÃºblica: h...
1  @Agencia_Andina Tremenda cara dura... DespuÃ©s ...
2  RT @elpadrelodice7: AsÃ­ es. El pueblo la repud...
3  RT @LainezLozada22: @d_yrigoyen123 @meiermq A ...
4  RT @AlcortaLourdes: Desde el 2017 estÃ¡n los mo...
5  RT @Epicentro_TV: ðŸ”´ La ContralorÃ­a constatÃ³ la...
6  RT @LaSalitadelSin: ðŸ”´ Ah... Pero si esta minis...
7  chiquÃ©rrimo dengue no mÃªs de junho. quem disse...
8  RT @ideeleradio: #GlatzerTuesta: La ministra d...
9  RT @terra_cremada: InvasiÃ³n sin precedentes de...

In [37]:
data

                                               Tweets
0   RT @solano_leiva: CrÃ³nicas de Salud PÃºblica: h...
1   @Agencia_Andina Tremenda cara dura... DespuÃ©s ...
2   RT @elpadrelodice7: AsÃ­ es. El pueblo la repud...
3   RT @LainezLozada22: @d_yrigoyen123 @meiermq A ...
4   RT @AlcortaLourdes: Desde el 2017 estÃ¡n los mo...
..                                                ...
95  RT @PattyChirinosVe: Mientras millones de comp...
96  RT @semvalentoes: ðŸš¨ðŸš¨ LadrÃ£o valentÃ£o que rouba...
97  Thailand reports a nearly 500% increase in den...
98  RT @semvalentoes: ðŸš¨ðŸš¨ LadrÃ£o valentÃ£o que rouba...
99  @Epicentro_TV Jajajaja quÃ© miserable!! Si todo...

[100 rows x 1 columns]

Find more at [Tweet Extraction](https://github.com/RodolfoFerro/pandas_twitter/blob/master/01-extracting-data.md)

In [38]:
# Internal methods of a single tweet object:
print(dir(results[0]))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__slots__', '__str__', '__subclasshook__', '__weakref__', '_api', '_json', 'author', 'contributors', 'coordinates', 'created_at', 'destroy', 'entities', 'favorite', 'favorite_count', 'favorited', 'geo', 'id', 'id_str', 'in_reply_to_screen_name', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status', 'lang', 'metadata', 'parse', 'parse_list', 'place', 'retweet', 'retweet_count', 'retweeted', 'retweeted_status', 'retweets', 'source', 'source_url', 'text', 'truncated', 'user']

In [39]:
# We print info from the first tweet:
print(results[0].id)
print(results[0].created_at)
print(results[0].source)
print(results[0].favorite_count)
print(results[0].retweet_count)
print(results[0].geo)
print(results[0].coordinates)
print(results[0].entities)

1668963112278450177
2023-06-14 12:46:28+00:00
Twitter for iPhone
0
19
None
None
{'hashtags': [], 'symbols': [], 'user_mentions': [{'screen_name': 'solano_leiva', 'name': 'Ivan Solano Leiva', 'id': 1502930815, 'id_str': '1502930815', 'indices': [3, 16]}, {'screen_name': 'Frentea_Frente', 'name': 'Frente a Frente TCS', 'id': 867190562, 'id_str': '867190562', 'indices': [63, 78]}], 'urls': []}